.business_wrapper {
  padding: 7vh 7vh 7vh 10vh;
  background: #fff;
}
.business_wrapper_subtitle {
  color: #E69A2F;
}
.business_wrapper_title {
  color: #000;
}

h3 {
  font-size: 32px;
  font-weight: 500;
  margin: 16px 0px;
}

h2 {
  font-size: 50px;
  margin-top: 0px;
}

p{
  font-size: 24px;
  font-weight: 500;
  line-height: 45px;
  color: #B2BBC6;
  margin: 0px;
}
.inputField {
  font-size: 24px;
  color: #B2BBC6;
  letter-spacing: -0.04px;
  text-align: left;
  line-height: 26px;
  border: 1px solid #E4E8EB;
  border-radius: 24px;
  display: block;
  height: 70px;
  padding: 0px 20px;
  width: 60%;
  margin: 10px 0px;
  min-width: 250px;
}

.actionWrapper {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}
.submitBtn_orange {
  background: #E69A2F;
  color: #FFFFFF;
}

.playBtn {
  background: #7e2e7a26;
  border-radius: 47px;
  min-width: 70px;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7E2E7A;
  margin-left: 10px;
}

.individuals_wrapper {
  background-color: #7E2E7A;
  color: #FFFFFF;
  padding: 7vh 7vh 7vh 10vh;
}
.individuals_wrapper_text {
  margin-bottom: 40px;
  color: #B2BBC6;
}
.submitBtn {
  border-radius: 47px;
  font-size: 24px;
  letter-spacing: -0.05px;
  text-align: center;
  line-height: 26px;
  height: 70px;
  width: 70%;
  min-width: 200px;
  max-width: 250px;
}
.submitBtn_white {
  background: #FFF;
  color: #7E2E7A;
}
.submitBtn_purple {
  background: #7E2E7A;
  color: #FFF;
}
.playBtn2 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 47px;
  min-width: 70px;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  margin-left: 10px;
}

.about_wrapper {
  padding: 7vh 7vh 7vh 10vh;
  background-color:  #F9FAFB;
}
.about_padding {
  padding: 0vh 5vh;
}
.about_wrapper h2 {
  width: 50%;
}
.purple {
  color: #7E2E7A;
}

.purple-bg {
  background-color: #7E2E7A;
}

.service_wrapper {
  padding: 0vh 10vh 7vh 15vh;
  flex-wrap: wrap;
}


.service_box {
  border: 2px solid #E4E8EB;
  border-radius: 6.98px;
  margin: 10px;
  padding: 30px 20px 10px 30px;
}

.service_title {
  font-weight: bold;
  margin: 10px 0px;
  width: 80%;
}

.learn_more {
  background-image: url('../../assets/images/Group 29.png');
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
}

.f-w {
  flex-wrap: wrap;
}

.team_details_wrapper {
  background-color:  #F9FAFB;
  padding: 7vh 0vh 0vh 10vh;
}
.team_details {
  padding: 0vh 3vh 3vh 5vh;
}

.team_img {
  padding: 5vh 0vh 5vh 7vh;
}
.team_details_text {
  padding-left: 3vh;
  border-left: 5px solid #E4E8EB;
  margin-bottom: 30px;
}
.footer {
  background-color: #301A38;
}
.white {
  color : #fff;
}
.orange {
  color: #E69A2F;
}
.black {
  color: #000;
}
.business_details_wrapper {
  padding: 7vh 0vh 7vh 10vh;
}
.biz_details {
  padding: 0vh 2vh 0vh 5vh;
}

.biz_stats {
  padding: 5vh 0vh;
  flex-wrap:nowrap;
}

.biz_val {
  margin: 0px;
}
.trust_wrapper {
  padding: 12vh;
}
.brandIcons {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
    line-height: 36px;
  }
  .inputField {
    font-size: 20px;
    line-height: 36px;
  }
  .submitBtn {
    font-size: 20px;
    line-height: 36px;
  }
  .business_wrapper {
    padding: 7vh 3vh 7vh 5vh;
  }
  .individuals_wrapper {
    padding: 7vh 3vh 7vh 5vh;
  }
  .about_wrapper {
    padding: 7vh 3vh 7vh 5vh;
  }
  .about_padding {
    padding: 0;
  }
  .about_wrapper h2 {
    width: 100%;
  }
  .service_wrapper {
    padding: 0vh 3vh 7vh 5vh;
  }
  .service_box {
    margin: 10px 0px;
  }
  .learn_more {
    height: 50vh;
  }
  .team_details_wrapper {
    padding: 7vh 3vh 0vh 5vh;
  }
  .team_details {
    padding: 0vh ;
  }
  .team_img {
    padding: 5vh 0vh;
    text-align: center;
  }
  .business_details_wrapper {
    padding: 7vh 3vh 7vh 5vh;
  }
  .biz_details {
    padding: 0vh;
  }

  .biz_stats {
    padding: 5vh 0vh;
    flex-wrap: wrap;
  }
  .trust_wrapper {
    padding: 7vh 3vh 7vh 5vh;
  }
  .footer {
    padding: 0vh 3vh;
  }
}
