<div fxLayout="column">
<div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" style="height: 100%;">
  <div fxFlex="50%" class="business_wrapper">
      <h3 class="business_wrapper_subtitle">For Businesses</h3>
      <h2 class="business_wrapper_title">We help you with the right professionals.</h2>
      <form>
        <input class="inputField" type="text" name="name" placeholder="Name">
        <input class="inputField" type="text" name="contact" placeholder="Contact Number">
        <input class="inputField" type="text" name="contact" placeholder="Company Name">
        <input class="inputField" type="text" name="contact" placeholder="Email ID">
        <div class="actionWrapper">
          <button mat-button class="submitBtn submitBtn_orange" type="submit">Get in touch</button>
          <div class="playBtn">
              <mat-icon>play_arrow</mat-icon>
          </div>
        </div>
      </form>
  </div>
  <div fxFlex="50%" class="individuals_wrapper">
    <h3 class="individuals_wrapper_subtitle">For Individuals</h3>
    <h2 class="individuals_wrapper_title">We help you find your dream job!</h2>
    <p class="individuals_wrapper_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, beatae harum.  Eaque, perspiciatis! Blanditiis facilis eveniet eligendi nostrum delectus reprehenderit. Blanditiis facilis eveniet eligendi.</p>
    <p class="individuals_wrapper_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, beatae harum.</p>
    <div class="actionWrapper">
      <button mat-button class="submitBtn submitBtn_white" type="submit">Get Hired</button>
      <div class="playBtn2">
          <mat-icon>play_arrow</mat-icon>
      </div>
    </div>
  </div>
</div>
<div fxLayout="column" fxFlex="100%" class="about_wrapper">
  <h3 class="purple about_padding">About</h3>
  <h2 class="about_padding">Allies in your business performance metrics.</h2>
  <div fxFlex="100%" class="f-w">
    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" class="about_padding">
        <h3 class="purple">Individuals</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum error nemo aliquam sapiente quibusdam quasi! Impedit harum aperiam debitis distinctio earum deleniti enim animi provident</p>
    </div>
    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" class="about_padding">
        <h3 class="purple">Business</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum error nemo aliquam sapiente quibusdam quasi! Impedit harum aperiam debitis distinctio earum deleniti enim animi provident</p>
    </div>
  </div>
</div>
<div fxLayout fxLayout.xs="column" fxLayout.sm="column" style="flex-wrap: wrap;" class="service_wrapper">
    <div fxFlex="100%">
        <h3 class="purple">Services</h3>
    </div>
    <div fxLayout fxLayout.xs="column" fxLayout.sm="column"  fxFlex="100%" class="f-w">
        <div class="service_box" fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%">
          <img src="assets/images/Consulting.png" alt="consulting"/>
          <h3 class="service_title" >Consulting</h3>
          <p>we deploy/allocate people to work at your location in Data science, Analytics and Business intelligence</p>
        </div>
        <div class="service_box" fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="100%">
          <img src="assets/images/TRAINING.png" alt="training"/>
          <h3 class="service_title" >Training</h3>
          <p>we deploy/allocate people to work at your location in Data science, Analytics and Business intelligence</p>
        </div>
        <div class="service_box" fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="100%">
          <img src="assets/images/OutSourcing.png" alt="out sourcing"/>
          <h3 class="service_title" >OutSourcing</h3>
          <p>we deploy/allocate people to work at your location in Data science, Analytics and Business intelligence</p>
        </div>
        <div class="service_box" fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="100%">
          <img src="assets/images/Recruitment.png" alt="recruitment"/>
          <h3 class="service_title" >Recruitment & HeadHunting</h3>
          <p>we deploy/allocate people to work at your location in Data science, Analytics and Business intelligence</p>
        </div>
    </div>
</div>
<div class="learn_more" fxLayout fxLayoutAlign="center center">
    <h2 style="color: white;position: relative;top: 15vh;">Learn how it works</h2>
</div>
<div class="team_details_wrapper" fxLayout fxLayout.xs="column">
  <div fxFlex="50%" fxFlex.sm="100%" fxFlex.md="100%" class="team_details">
    <h3 class="purple">How it works</h3>
    <h2>We connect the best with the best!</h2>
    <div class="team_details_text">
      <p style="margin-bottom: 30px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque culpa, dicta distinctio neque dolores aperiam reprehenderit maiores repellat amet doloremque dolorum. </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, nihil maiores! Assumenda rem mollitia adipisci aspernatur.</p>
    </div>
    <button fxHide.xs  mat-button class="submitBtn submitBtn_purple" type="submit">Get in touch</button>
  </div>
  <div fxFlex="50%" fxFlex.sm="100%" fxFlex.md="100%" class="team_img">
      <img src="assets/images/Group 1243.png" alt="team members" style="width: 80%;">
      <button fxHide.sm fxHide.md fxHide.lg fxHide.xl mat-button class="submitBtn submitBtn_purple" type="submit" style="margin-top: 30px;">Get in touch</button>
  </div>
</div>
<div class="business_details_wrapper" fxLayout fxLayout.xs="column" fxLayout.sm="column">
  <div fxFlex="60%" fxFlex.sm="100%" fxFlex.md="100%" class="biz_details" >
    <h3 class="orange">Businesses</h3>
    <h2>We help you with the right professional for your business.</h2>
    <div style="margin-bottom: 80px;">
      <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque culpa, dicta distinctio neque dolores aperiam reprehenderit maiores repellat amet doloremque dolorum. Porro qui inventore repellat corporis reprehenderit a, perferendis dicta?</p>
    </div>
    <div fxLayout fxLayoutGap="30px" fxLayoutAlign="flex-start center">
      <mat-icon style="color: green;">done</mat-icon>
      <p class="black">Benefit long text example sample here 1</p>
    </div>
    <div fxLayout fxLayoutGap="30px" fxLayoutAlign="flex-start center">
      <mat-icon style="color: green;">done</mat-icon>
      <p class="black">Benefit long text example sample here 1</p>
    </div>
    <div fxLayout fxLayoutGap="30px" fxLayoutAlign="flex-start center">
      <mat-icon style="color: green;">done</mat-icon>
      <p class="black">Benefit long text example sample here 1</p>
    </div>
    <div fxLayout fxLayoutGap="30px" fxLayoutAlign="flex-start center">
      <mat-icon style="color: green;">done</mat-icon>
      <p class="black">Benefit long text example sample here 1</p>
    </div>
    <button fxHide.xs mat-button class="submitBtn submitBtn_orange" type="submit" style="margin-top: 30px;max-width: 300px;">Get in touch</button>
  </div>
  <div fxLayout fxLayoutAlign="space-around center" fxLayoutAlign.xs="space-around flex-start" fxFlex="40%" fxFlex.sm="100%" fxFlex.md="100%" class="biz_stats f-w">
      <div fxLayout class="f-w" fxLayoutAlign="space-evenly center" fxFlex.xs="40%">
          <div style="text-align: left;margin: 10px 0px;">
            <h2 class="biz_val">8.266</h2>
            <p>Total jobs posted</p>
          </div>
          <div  style="text-align: left;margin: 10px 0px;">
            <h2 class="biz_val">17.872</h2>
            <p>No of people by BI</p>
          </div>
      </div>
      <div fxLayout class="f-w" fxLayoutAlign="space-evenly center" fxFlex.xs="40%">
        <div style="text-align: left;margin: 10px 0px;">
          <h2 class="biz_val">48.872</h2>
          <p>No of tasks completed</p>
        </div>
        <div style="text-align: left;margin: 10px 0px;">
          <h2 class="biz_val">762</h2>
          <p>No of people by data</p>
        </div>
    </div>
    <button fxHide.sm fxHide.md fxHide.lg fxHide.xl mat-button class="submitBtn submitBtn_orange" type="submit" style="margin-top: 30px;max-width: 300px;">Get in touch</button>
  </div>
</div>
<div class="team_details_wrapper" fxLayout fxLayout.xs="column" fxLayout.sm="column">
  <div fxFlex="50%" fxFlex.sm="100%" fxFlex.md="100%" class="team_details" style="padding-right: 2vh;">
    <h3 class="purple">Individuals</h3>
    <h2>We help you step by step find your dream job.</h2>
    <div style="margin-bottom: 80px;">
      <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque culpa, dicta distinctio neque dolores aperiam reprehenderit maiores repellat amet doloremque dolorum. Porro qui inventore repellat corporis reprehenderit a, perferendis dicta?</p>
    </div>
    <button fxHide.xs mat-button class="submitBtn submitBtn_purple" type="submit">Get Hired</button>
  </div>
  <div fxFlex="50%" fxFlex.sm="100%" fxFlex.md="100%" class="team_img">
    <img src="assets/images/Group 30.png" alt="team members" style="width: 100%;">
    <button fxHide.sm fxHide.md fxHide.lg fxHide.xl mat-button class="submitBtn submitBtn_purple" type="submit" style="margin-top: 30px;">Get Hired</button>
  </div>
</div>
<div class="trust_wrapper">
  <p>They trust us:</p>
  <div style="margin-top: 60px;overflow: auto;" fxLayout fxLayoutAlign="space-between center" fxLayoutGap.sm="20px">
    <img src="assets/images/apple.svg" alt="disney" class="brandIcons">
    <img src="assets/images/apple.svg" alt="google" class="brandIcons">
    <img src="assets/images/apple.svg" alt="apple" class="brandIcons">
    <img src="assets/images/apple.svg" alt="microsoft" class="brandIcons">
    <img src="assets/images/apple.svg" alt="facebook" class="brandIcons">
    <img src="assets/images/apple.svg" alt="twitter" class="brandIcons">
    <img src="assets/images/apple.svg" alt="youtube" class="brandIcons">
  </div>
</div>
<div fxLayout="column" fxLayoutAlign="space-evenly center" style="height: 350px;" class="footer">
    <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="80px" fxLayoutGap.xs="20px">
        <p class="white">About Metric Ally</p>
        <p class="white">How it works</p>
        <p class="white">Contact us</p>
    </div>
    <div fxLayout fxLayoutAlign="space-between center" fxLayoutGap="30px" fxLayoutGap.xs="10px">
      <img src="assets/images/FB.png" alt="facebook">
      <img src="assets/images/TW.png" alt="twitter">
      <img src="assets/images/IN.png" alt="linkedIn">
      <img src="assets/images/YTB.png" alt="youtube">
  </div>
  <div fxLayout fxLayoutAlign="center center">
      <p class="white" style="text-align: center;">Copyright 2019 Metric-Ally - All Rights Reserved</p>
  </div>
</div>
</div>
