<div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" style="height: 100%;">
  <div fxFlex="50%" class="business_wrapper">
      <h3 class="business_wrapper_subtitle">For Businesses</h3>
      <h2 class="business_wrapper_title">We help you with the right professionals.</h2>
      <form>
        <input class="inputField" type="text" name="name" placeholder="Name">
        <input class="inputField" type="text" name="contact" placeholder="Contact Number">
        <input class="inputField" type="text" name="contact" placeholder="Company Name">
        <input class="inputField" type="text" name="contact" placeholder="Email ID">
        <div class="actionWrapper">
          <button mat-button class="submitBtn" type="submit">Get in touch</button>
          <div class="playBtn">
              <mat-icon>play_arrow</mat-icon>
          </div>
        </div>
      </form>
  </div>
  <div fxFlex="50%" class="individuals_wrapper">
    <h3 class="individuals_wrapper_subtitle">For Individuals</h3>
    <h2 class="individuals_wrapper_title">We help you find your dream job.</h2>
    <p class="individuals_wrapper_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, beatae harum. Reiciendis harum atque, molestias cum cupiditate exercitationem consequatur fugit nisi. Eaque, perspiciatis! Blanditiis facilis eveniet eligendi nostrum delectus reprehenderit?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, beatae harum.</p>
    <div class="actionWrapper">
      <button mat-button class="submitBtn2" type="submit">Get Hired</button>
      <div class="playBtn2">
          <mat-icon>play_arrow</mat-icon>
      </div>
    </div>
  </div>

</div>
