.companyName{
  font-size: 150%;
  margin-left: 7vh;
}

.mat-toolbar{
  height: 11vh;
  background-color: #fff;
  color: #000;
}


.mat-sidenav-container{
  min-height: 89vh !important;
}

.mat-sidenav {
  width: 200px;
}

a{
  text-decoration: none;
  white-space: normal;
}

button{
  min-width: min-content;
}

.spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content{
  overflow: unset;
}
.mat-drawer-container {
  background-color: #fff;
}

.navListWrapper {
  display: flex;
  align-items: center;
  margin-right: 7vh;
}
.navItem {
  color: #000;
  font-size: 25px;
  margin: 0px 3.5vh;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px;
  justify-content: center;
}

.contact_us {
  background:#fff ;
  border-radius: 47px;
  color: #7E2E7A;
  text-align: center;
  line-height: 26px;
  display: flex;
  align-items: center;
  border: 3px solid #7e2e7a;
  height: 60px;
  padding: 0px 5vh;
  margin-left: 7vh;
}
